rgb_dataset/
pc_dataset/
*.pt
*.pth
outputs/
logs/
__pycache__/
*.log
*.csv
*.zip
*.tar
*.tar.gz
*.egg-info/
.vscode/
.idea/
.DS_Store
env/
venv/
*.env
.env.local
.env.*.local
.ipynb_checkpoints/
*.pytest_cache/
.pytest_cache/
.mypy_cache/
.pyre/
.pytype/
.coverage
htmlcov/
.tox/
.nox/